<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Password Reset</title>
</head>
<body>
  <p>Hi {{ user.get_username }},</p>
  <p>You requested a password reset for your SHP-Learner account.</p>
  <p>
    Click the link below to reset your password:<br>
    <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
      Reset Password
    </a>
  </p>
  <p>If you didn’t request this, you can safely ignore this email.</p>
  <p>Best regards,<br>SHP-Learner Team</p>
</body>
</html>
